.Login > * {
  margin: 10px 0px;
}

.Login .Button {
  align-self: center;
}

.Login {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login h1 {
  margin-bottom: 60px;
}